*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #f9f9f9; 
  color: #000000; 
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header {
  background-color: #000;
  color: #fff;
}

.header-container {
  max-width: 1120px; 
  margin: 0 auto;
  padding: 14px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-titulo {
  font-size: 1.5rem; 
  font-weight: 700; 
  padding: 4px 8px;
}

.header-botoes {
  margin-left: 20px;
}

.cadastro-btn{
  background-color: #000000;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 8px;
  border: #f3f3f3 1px solid;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-decoration: none;
}
.cadastro-btn:hover {
  background-color: #272727;
}

.login-btn {
  background-color: #fff;
  color: #000;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-decoration: none;
}

.login-btn:hover {
  background-color: #f3f3f3;
}

.caixa-pagina-inicial {
  width: 600px;
  margin: 80px auto;
  padding: 32px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.caixa-pagina-inicial h2 {
    font-size: 2rem;
    margin-bottom: 16px;
} 
.caixa-pagina-inicial p {
    font-size: 1.125rem;
    margin-bottom: 24px;
    color: #555;
}
.caixa-pagina-inicial .cadastro-btn {
    font-size: 1rem;
    padding: 12px 24px;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 16px 0;
  background-color: #000000;
  color: #ffffff;
  font-size: 0.875rem;
  border-top: 1px solid #ddd;
}