*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #f9f9f9; 
  color: #000000; 
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.header {
  background-color: #000;
  color: #fff;
}

.header-container {
  max-width: 1120px; 
  margin: 0 auto;
  padding: 14px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-titulo {
  font-size: 1.5rem; 
  font-weight: 700; 
  padding: 4px 8px;
}

.paginaInicial-btn {
  background-color: #fff;
  color: #000;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-decoration: none;
}

.paginaInicial-btn:hover {
    background-color: #f3f3f3;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 16px 0;
  background-color: #f1f1f1;
  color: #555;
  font-size: 0.875rem;
  border-top: 1px solid #ddd;
}

.container{
    width: 90%; 
    margin: 0 auto;
    padding: 24px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 32px;
}

.apresentacao {
    text-align: left;
    margin-bottom: 32px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 16px;
    color: #000;
}

.pesquisa{
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;

}

.div-buscador{
    display: flex;
    width: 70%;
}

.pesquisa-input{
    height: 55px;
    width: 60%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.btn-buscar{
    width: 100px;
    height: 55px;
    padding: 12px 24px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.painel-busca{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    height: 200px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    padding: 16px;
    border-radius: 8px;
    /*border: #ddd 1px solid;*/
    background-color: #fff4ff;

}

.aluno-pesquisado{
    display: flex;
    align-items: center;
    height: 60px;
    margin-bottom: 16px;
    font-size: 13px;
    color: #000;
    border: #ddd 1px solid;
    padding: 12px;
    border-radius: 8px;
    justify-content: space-between;
    text-align: center;
    width: 50%;
}


.aluno-comparado{
    height: 60px;
    font-size: 13px;
    color: #000;
    border: #ddd 1px solid;
    padding: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 50%;
}

.foto{
    margin-right: 10px;
    display: flex;
    align-items: center;
    border: #ddd 1px solid;
    padding: 5px;
    border-radius: 100%;
}

.tabela-ranking{
    width: 100%;
    border-collapse: collapse;
}

table, th, td{
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

h3{
    margin-bottom: 16px;
    color: #000;
}

.aluno-ranking{
    display: flex;
    align-items: center;
    border: #ddd 1px solid;
    padding: 12px;
    margin-bottom: 8px;
    justify-content: space-between;
    border-radius: 8px;
}

.professor-info{
    display: flex;
    height: 55px;
    font-size: 12px;
    width: 30%;
    align-items: center;
    border: #ddd 1px solid;
    padding: 12px;
    margin-bottom: 8px;
    justify-content: space-between;
    border-radius: 8px;
}

.buscadoEprofessor{
    display: flex;
}

.resumo-professor{
    margin-top: 32px;
}

button{
    height: 40px;
    margin-left: 8px;
    padding: 8px 16px;
    background-color: #aa00ff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 12px;
}